<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container" >

        <H1>URL Shirinker</H1>
        
        <form action="" method="post" class="my-4 form-inline">
            <label for="fullUrl">Url</label>
            <input type="url" name='fullUrl' id='fullUrl'>
            <button type="submit">Shirnk</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th> Full URL</th>
                    <th> Short URL</th>
                    <th> Clicks </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="http://facebook.com">http://facebook.com</a>
                    </td>  
                    <td><a href="http://fb.com">http://fb.com</a></td>
                    <td>13</td>
                </tr>
            </tbody>
        </table>
    </div>
    </body>
    </html>